.sidebar {
  width: 250px;
  background-color: #064929;
  color: white;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  padding: 12px;
  margin-bottom: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  border-radius: 6px;
  transition: background 0.3s;
}

.sidebar a:hover,
.sidebar .active-link {
  background-color: #0b7a4a;
}

.main {
  flex: 1;
  padding: 30px;
  background-color: #f4f6f8;
  overflow-y: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
